*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.zero{
  text-align: center;
  margin-top: 200px;
}
body{
  background: rgb(54,187,190);
background: linear-gradient(90deg, rgba(54,187,190,1) 26%, rgba(82,110,121,1) 43%, rgba(161,48,185,1) 59%);
}
.stop-text{
  font-size: 40px;
  margin-bottom: 20px;
  color: white;
}
.number{
  color: black;
  font-size: 50px;
}
.start{
  background-color: chartreuse;
}
button{
  margin-top: 20px;
  color: white;
  border: none;
  width: 80px;
  margin-left: 20px;
  height: 30px;
}
.stop{
  background-color: red;
}
.reset{
  background-color: blue;
}